extends layout

block content 
  .container
    h1= title
    p Welcome to #{title}. This demo app can guide you on your way towards a successful Mondu integration in your checkout.
    p Check out the code in the 
      a(href="https://github.com/hreinberger/mondu-node") Repo.
    p 
      a(href="/checkout") checkout (start here!)
    p 
      a(href="/getorders") inspect latest order