doctype
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='Mondu Integration')
    meta(name='author', content='Hannes Reinberger')
    title Mondu Demo Integration
    //- Bootstrap core CSS
    link(href='/stylesheets/style.css', rel='stylesheet')
    //- link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
    //- link(href='/css/style.css', rel='stylesheet')
    link(href='../stylesheets/checkout.css' rel='stylesheet')
  body
    nav.navbar.navbar-expand
      .container-fluid
        a(class="navbar-brand" href="/") Mondu Demo Integration
        button(class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
          div(class="navbar-nav")
            a(class="nav-link" href="/checkout") Checkout
            a(class="nav-link" href="/orders") Orders
            a(class='nav-link' href="https://github.com/hreinberger/mondu-node") Github Repo
    //- view content starts here
    block content
    script(src='/javascripts/bootstrap.js' defer='')
