extends layout

block content
  .container
    h1= title
    .alert.alert-success
      h4.alert-heading Well Done!
      p You just made a successful Mondu transaction!
      p
       | Now go have a look at it in the orders screen
      p
        a.alert-link(href="/orders") Link
